<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>camera_setting_camera_settings</string>
	<key>content</key>
	<array>
		<dict>
			<key>item</key>
			<string>camera_setting_white_balance</string>
			<key>status</key>
			<string>null</string>
		</dict>
		<dict>
			<key>item</key>
			<string>camera_setting_shot_mode</string>
			<key>status</key>
			<string>null</string>
		</dict>
		<dict>
			<key>item</key>
			<string>camera_setting_photometry</string>
			<key>status</key>
			<string>null</string>
		</dict>
		<dict>
			<key>item</key>
			<string>camera_setting_scene_mode</string>
			<key>status</key>
			<string>null</string>
		</dict>
		<dict>
			<key>item</key>
			<string>camera_setting_video_format</string>
			<key>status</key>
			<string>null</string>
		</dict>
		<dict>
			<key>item</key>
			<string>camera_setting_video_resolution</string>
			<key>status</key>
			<string>null</string>
		</dict>
		<dict>
			<key>item</key>
			<string>camera_setting_photo_format</string>
			<key>status</key>
			<string>null</string>
		</dict>
		<dict>
			<key>item</key>
			<string>camera_setting_photo_resolution</string>
			<key>status</key>
			<string>null</string>
		</dict>
		<dict>
			<key>item</key>
			<string>camera_setting_photo_quality</string>
			<key>status</key>
			<string>null</string>
		</dict>
		<dict>
			<key>item</key>
			<string>camera_setting_anti_ficker</string>
			<key>status</key>
			<string>null</string>
		</dict>
	</array>
	<key>footer</key>
	<dict>
		<key>title</key>
		<string>camera_setting_format_sd_card</string>
		<key>status</key>
		<string>null/null</string>
	</dict>
</dict>
</plist>
