<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>camera_setting_white_balance</string>
	<key>content</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>btn_zidong</string>
			<key>title</key>
			<string>camera_setting_auto</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>btn_riguang</string>
			<key>title</key>
			<string>camera_setting_sunlight</string>
			<key>order</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>btn_risheng</string>
			<key>title</key>
			<string>camera_setting_sunrise</string>
			<key>order</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>btn_riluo</string>
			<key>title</key>
			<string>camera_setting_sunset</string>
			<key>order</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>btn_duopyun</string>
			<key>title</key>
			<string>camera_setting_cloudy</string>
			<key>order</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>btn_yingguangdeng</string>
			<key>title</key>
			<string>camera_setting_fluorescent_lamp</string>
			<key>order</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>btn_baizhideng</string>
			<key>title</key>
			<string>camera_setting_incandescent_lamp</string>
			<key>order</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>btn_suoding</string>
			<key>title</key>
			<string>camera_setting_lock</string>
			<key>order</key>
			<integer>8</integer>
		</dict>
	</array>
</dict>
</plist>
