<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>camera_setting_shot_mode</string>
	<key>cameraMode</key>
	<string>single</string>
	<key>content</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>btn_single</string>
			<key>title</key>
			<string>camera_setting_camera_mode_singleShot</string>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>btn_burst</string>
			<key>title</key>
			<string>camera_setting_camera_mode_multiple</string>
			<key>order</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>btn_timeLaspe</string>
			<key>title</key>
			<string>camera_setting_camera_mode_timelapse</string>
			<key>order</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
