<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>30</integer>
	<integer>60</integer>
	<integer>125</integer>
	<integer>250</integer>
	<integer>500</integer>
	<integer>1000</integer>
	<real>2000</real>
	<integer>4000</integer>
	<integer>8000</integer>
</array>
</plist>
